body.container {
     min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#formulario {
    background: #fff;
    padding: 32px 24px;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.16); 
    min-width: 320px;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    margin: 0 auto;
    border: none; 
}

#formulario h2 {
    text-align: center;
    margin-bottom: 8px;
}

#formulario input {
    width: 80%;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    display: block;
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

